/* corpo da pagina */
body {
    font-family: "Oxanium", cursive;
    background: #000000;
    color: #ffff;
}

/* antes do body vai criar um pseudo elemento  cria um elemento pelo css que nao existe no html*/
body::before{
    content: ""; /* cria um espaço vazio para por a imagem */
    background-image: url(../imagens/bg-desktop.jpg); /* adiciona a imagem dando o caminho da imagem */
    background-repeat: no-repeat; /* nao repetir a imagem */
    background-size: cover;  /* cobrir toda tela */
    background-position: center; /* alinha no centro */
    width: 100%;
    height: 100%;
    position: absolute; /* vem antes de tudo fica na frentre de tudo*/
    z-index: -1; /* eixo de profundidade coloca a imagem por traz de tudo */
    opacity: 0.2; /* opacidade da imagem */
}

/* header da pagina */
.cabecalho {
    text-align: center;
}

/* main, conteudo principal da pagina */
.selecao-de-personagens {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 152px); /*  calculo desconta a altura do cabeçalho para fazer a altura minima da seção */
    justify-content: center;
}

/* usando expecificidade para estilizar um elemento dentro de outro 
    este elemento é a lista de personagem dentro do elemento seleção de personagens
*/
.selecao-de-personagens .lista-de-personagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* box da lista de personagens */
.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
}

/* titulo da lista de personagens */
.selecao-de-personagens .personagens .titulo {
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #47f4ff;
    width: 100%; /*  borda vai se basear no tamanho do pai, 100% do elemento do pai */
    text-align: center;
}

/* elementos da lista de personagens */
.lista-de-personagens .personagem img {
    width: 100%;
    height: 100%;
}

/* estilização do personagem selecionado */
.lista-de-personagens .personagem.selecionado {
    box-shadow: 0px 0px 24px 5px #0271f7;
}

/* box da imagem do personagem selecionado */
.personagem.selecionado {
    text-align: center;
    max-height: 530px;
}

/* personagem dentro do box personagem selecionado */
.personagem.selecionado .personagem-grande {
    width: 430px;
    height: 430px;
}

/* nome do personagem grande */
.personagem-selecionado .nome-personagem {
    border-bottom: 2px solid #47f4ff;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

/* texto do personagem grande */
.personagem-selecionado .descricao-personagem {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
}
